@model IEnumerable<EmployeeData_CRUD_App.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeNamee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeDesignation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeContactNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeNamee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeDesignation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeContactNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Employeeid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Employeeid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Employeeid })
        </td>
    </tr>
}

</table>
